<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carrot.writeservice.board.repository.BoardRepository">
    <select id="selectBoardInfos" resultType="com.carrot.writeservice.board.model.SearchBoardModel">
        SELECT
            title AS title
            ,file_name AS img_name
            ,save_path AS path
            ,reg_date AS date
        FROM
            board
    </select>

    <select id="selectBoardInfo" resultType="com.carrot.writeservice.board.model.SearchBoardModel">
        SELECT
            title AS title
             ,file_name AS img_name
             ,save_path AS path
             ,reg_date AS date
        FROM
            board
        WHERE
            board_id = ${id}
    </select>

    <insert id="postBoardInfo" parameterType="map">
        INSERT INTO
            board(title, file_name, save_path, reg_date)
        VALUES
            (#{saveBoardParam.title}, #{saveBoardParam.fileName}, #{saveBoardParam.path}, DATE_FORMAT(NOW(), '%Y.%m.%d'))
    </insert>
</mapper>