<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/add.js}"></script>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div>
        <h2>글쓰기</h2>
    </div>
    <div class="row">
        <div class="col">
            <form th:action method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" type="submit">저장</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" th:onclick="|location.href='@{/home/infos}'|"
                                type="button">취소</button>
                    </div>
                </div>
                <div>
                    <input type="text" id="title" name="title" placeholder="제목을 입력하세요" class="form-control">
                </div>
                <div>
                    <input type="text" id="path_text" name="path_text" value="선택한 파일 없음" class="form-control" disabled="disabled">
                    <label for="path" th:onclick="showText()">업로드</label>
                    <input type="file" id="path" name="path" class="upload-hidden" multiple="multiple" style="display:none" accept="image/*">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>